﻿@model CrudApp.ViewModels.MagazineViewModels.MagazineView

<h5>Magazine Edit</h5>
@Html.HiddenFor(model => model.Id)

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div>
    @(Html.Kendo().MultiSelect()
        .Name("Articles")
        .Placeholder("Select Articles")
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Action("GetArticles", "Magazine");
             });
         })

          .AutoBind(true)
    )
</div>


