﻿@model CrudApp.ViewModels.MagazineViewModels.MagazineIndexViewModel
@{
    ViewBag.Title = "Index";
}

@(Html.Kendo().Grid<CrudApp.ViewModels.MagazineViewModels.MagazineView>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Name).Title("Magazines");
            columns.Bound(p => p.Articles).Title("Articles").ClientTemplate("#=generateTemplate(Articles)#");
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("AddMagazine"))
        .Pageable()
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Events(events => events.Error("error_handler"))
            .Model(model =>
            {
                model.Id(p => p.Id);
                model.Field(e => e.Articles).DefaultValue(new List<string>());
            })
        .Create(create => create.Action("EditingPopup_Create", "Magazine"))
        .Read(read => read.Action("EditingPopup_Read", "Magazine"))
        .Update(update => update.Action("EditingPopup_Update", "Magazine"))
        .Destroy(delete => delete.Action("EditingPopup_Destroy", "Magazine"))
    )
)

<script>
    function generateTemplate(Magazines) {
        var template = "<ul>";
        for (var i = 0; i < Magazines.length; i++) {
            template = template + "<li>" + Magazines[i] + "</li>";
        }
        return template + "</ul>";
    }
</script>


<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

