﻿@model CrudApp.ViewModels.ArticleViewModels.ArticleView

<h5>Article Edit</h5>
@Html.HiddenFor(model => model.Id)

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div>
    @(Html.Kendo().MultiSelect()
        .Name("Authors")
        .Placeholder("Select Authors")
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Action("GetAuthors", "Book");
             });
         })

          .AutoBind(true)
    )
</div>

