﻿@model CrudApp.ViewModels.BookViewModels.BookView

<h5>Book Edit</h5>
@Html.HiddenFor(model => model.Id)

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div>
    @(Html.Kendo().MultiSelect()
        .Name("Authors")
        .Placeholder("Select Authors")
         .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetAuthors", "Book");
              });
          })
          
          .AutoBind(true)
          )
</div>
