﻿@model CrudApp.ViewModels.ArticleViewModels.ArticleIndexViewModel
@{
    ViewBag.Title = "Index";
}

@(Html.Kendo().Grid<CrudApp.ViewModels.ArticleViewModels.ArticleView>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Name).Title("Articles");
            columns.Bound(p => p.Authors).Title("Authors").ClientTemplate("#=generateTemplate(Authors)#");
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("AddArticle"))
        .Pageable()
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(p => p.Id);
                model.Field(e => e.Authors).DefaultValue(new List<string>());
            })
        .Create(create => create.Action("EditingPopup_Create", "Article"))
        .Read(read => read.Action("EditingPopup_Read", "Article"))
        .Update(update => update.Action("EditingPopup_Update", "Article"))
        .Destroy(delete => delete.Action("EditingPopup_Destroy", "Article"))
        
    )
)

<script>
    function generateTemplate(Authors) {
        var template = "<ul>";
        for (var i = 0; i < Authors.length; i++) {
            template = template + "<li>" + Authors[i] + "</li>";
        }
        return template + "</ul>";
    }
</script>
